*{
    margin: 0;
    padding: 0; 
}
body{
    background: linear-gradient(30deg,rgb(255, 255, 145),rgb(133, 248, 133),rgb(124, 124, 255));
}
header{
    background: linear-gradient(pink,#d30202);
    text-align: center;   
}
header img{
    height: 80px;
    width: 80px;
    float: left;
    display: block;
    padding: 10px 15px;
    border-radius: 24px;
}
header h1{
    font-size: 68px;
    color: black;
}
header h3{
    font-size: 20px;
    color: white;
    text-align: center;
}
main{
    margin: 30px 0;
}
.pillars{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 40px 0;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.box{
    border: 4px solid black;
    border-radius: 10px;
    background: linear-gradient(-45deg,pink,aqua, pink);
    padding-left: 6px;
    /* font-weight: 550; */
}
.box h1{
    font-size: 25px;
    margin: 5px 0 5px 0;
    color: rgb(113, 25, 25);
}
.box p{
    margin-bottom: 6px;
}
.box p p{
    margin-bottom: 0;
}
#h1{
    margin-bottom: 0;
}
pre{
    padding-left: 0px;
    display: flex;
    flex-wrap: wrap;
    font-size: 13px;
}

.box h3{
    margin-top: 15px;
    text-align: center;
    transform: translateX(-20px);
}
.top-heading{
    font-size: 18px;
    margin-left: 80px;
    display: flex;
    justify-content: flex-start;
}
footer{
    background: linear-gradient(rgb(169, 169, 171),rgb(45, 45, 45));
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px; 
}
@media (max-width:500px){
    footer{
       display: flex;
       flex-direction: column;
    }
} 
@media (min-width:250px) and (max-width:400px){
    header h3{
        padding-left: 100px;
    }
}
@media(min-width:1000px){
    .box{
        margin-right: 150px;
        height: 300px;
        width: 350px;
    }
    video{
        border-radius: 10px;
        height: 300px;
        width: 400px;
    }
    .container{
        display: flex;
        margin-bottom: 50px;
        align-items: center;
    }
}
@media(max-width:1000px){
    .box{
        margin-bottom: 10px;
        height: 290px;
        width: 345px;
    }
    video{
        border-radius: 10px;
        height: 220px;
        width: 330px;
    }
    .box h3{
        margin-top: 5px;
    }
    pre{
        font-size: 11px;
    }
    .container{
        display: flex;
        margin-bottom: 50px;
        flex-direction: column;
        align-items: center;
    }
}
